.track_container {
    display: flex;
    height: 112px;
    background-color: rgba(255, 255, 255, 0.04);
    padding-left: 12px;
    position: relative;
    box-sizing: border-box;

    &.selected {
        background-color: rgba(255, 255, 255, 0.08);
    }

    &.focused {
        outline: 2px solid hsla(207, 100%, 74%, 1);
        border-left: none;
        border-right: none;
    }

    &.parentHovered {
        background-color: rgba(255, 255, 255, 0.08);
    }
}