.track_container {
    display: flex;
    height: 112px;
    background-color: rgba(255, 255, 255, 0.05);
    padding-left: 12px;
    position: relative;

    &.selected {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &.focused {
        box-shadow: 0px 0px 4px 2px #31aed8;
        clip-path: inset(-4px -4px -4px 0px);
    }
}