.container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    justify-content: space-between;
    background-color: var(--btn-solid-track-header-idle);
    border-radius: 3px;
    border: none;
    color: var(--text-primary);
    height: 24px;


    &:hover {
        background-color: var(--btn-solid-track-header-hover);
    }

    &:active {
        background-color: var(--btn-solid-track-header-pressed);
    }

    &.full_width {
        width: 100%;
    }

    &.text_center{
       justify-content: center;
    }

    &.fixed_width {
        width: 144px;
        justify-content: center;
    }
}