.container {
    display: flex;
    align-items: center;
    padding-left: 12px;
    height: 32px;
    color: var(--text-primary);

    &:hover {
        background-color: var(--bg-surface-primary-hover);
    }
}