.container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    justify-content: space-between;
    background-color: var(--btn-on-secondary-idle);
    border-radius: 3px;
    border: none;
    color: var(--text-primary);


    &:hover {
        background-color: var(--btn-on-secondary-hover);
    }

    &:active {
        background-color: var(--btn-on-secondary-active);
    }


    &.full_width {
        width: 100%;
    }

    &.text_center{
       justify-content: center;
    }
}