.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 640px;
    transform: translate(-50%, -50%);
    background-color: var(--bg-primary);
    z-index: 999;
    border-radius: 8px;
    border: 1px solid var(--stroke-primary);
    color: var(--text-primary);
    box-shadow: 0px 10px 30px 0px rgba(20, 21, 26, 0.30);
}

.header {
    display: flex;
    justify-content:center;
    height: 24px;
    align-items: center;
    border-bottom: 1px solid var(--stroke-primary);
}

.body {
    display: flex;
    flex: 1;
    background-color: var(--bg-secondary);
}

.sideNav {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: 1px solid var(--stroke-primary);
    background-color: var(--bg-primary);
    padding-top: 8px;
}

.navItem {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 32px;
    padding-left: 24px;

    &:hover {
        background-color: rgba(255,255,255, 0.2);
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-top: 1px solid var(--stroke-primary)
}

.footer_btn_group {
    display: flex;
    gap: 8px
}