.tick_container {
    width: 56px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--stroke-secondary);
    user-select: none;
    color: var(--text-primary);
  }
  
  .tick_container_upper {
    height: 20px;
    display: flex;
    border-bottom: 1px solid var(--stroke-secondary);
    align-items: center; /* Ensures the text is vertically centered */
    justify-content: start; /* Centers the text horizontally */
    user-select: none;

  }
  
  .tick_container_lower {
    height: 20px;
    user-select: none;

  }
  
  .bold {
    font-weight: bold;
  }