.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    min-height: 40px;
    background-color: var(--bg-surface-primary);
    border-bottom: 1px solid var(--stroke-on-primary);
    color: var(--text-primary);
    z-index: 999;
}

.navGroup {
    display: flex;
    
}

.buttonGroup {
    display: flex;
}