.container {
height: 20px;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.customCheckbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: var(--bg-checkbox);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
}

