:root {

  /* New colors */

  --shade-100: #fff;
  --shade-900: #000;

  --slate-50: #FBFBFD;
  --slate-100: #F9FAFC;
  --slate-200: #F6F7F9;
  --slate-300: #E8E9EE;
  --slate-400: #DDDFE6;
  --slate-500: #CBCED7;
  --slate-600: #B6B9C7;
  --slate-700: #A4A8B9;
  --slate-800: #9499AB;
  --slate-900: #7E849A;

  --midnight-100: #171A24;
  --midnight-200: #252833;
  --midnight-300: #343741;
  --midnight-400: #41444F;
  --midnight-500: #4D515C;
  --midnight-600: #5A5E69;
  --midnight-700: #676B77;
  --midnight-800: #747884;
  --midnight-900: #828591;

  --blue-100: #F2F7FF;
  --blue-200: #DEEBFF;
  --blue-300: #C0D9FF;
  --blue-400: #A2C7FF;
  --blue-500: #84B5FF;
  --blue-600: #66A3FF;
  --blue-700: #4A7FE6;
  --blue-800: #305BCC;
  --blue-900: #1A3FB3;

  --violet-100: #F7F6FF;
  --violet-200: #E9E8FF;
  --violet-300: #D5D3FE;
  --violet-400: #C1BFFE;
  --violet-500: #ADABFC;
  --violet-600: #9996FC;
  --violet-700: #7E7BE6;
  --violet-800: #6360D0;
  --violet-900: #4845BA;

  --magenta-100: #FBF4FC;
  --magenta-200: #F6E8F4;
  --magenta-300: #EFD1EA;
  --magenta-400: #E8BAE0;
  --magenta-500: #E1A3D6;
  --magenta-600: #DA8CCC;
  --magenta-700: #C866B3;
  --magenta-800: #B0449A;
  --magenta-900: #982681;

  --red-100: #FEF2F2;
  --red-200: #FCE4E4;
  --red-300: #F9CBCB;
  --red-400: #F6B2B2;
  --red-500: #F39999;
  --red-600: #F08080;
  --red-700: #E85B5B;
  --red-800: #D63636;
  --red-900: #B91818;

  --orange-100: #FFF5EE;
  --orange-200: #FFEADD;
  --orange-300: #FFD7BF;
  --orange-400: #FFC4A1;
  --orange-500: #FFB183;
  --orange-600: #FF9E65;
  --orange-700: #E67A3D;
  --orange-800: #CC5619;
  --orange-900: #B33600;

  --yellow-100: #FCF8EE;
  --yellow-200: #F8F0DC;
  --yellow-300: #F4E4B9;
  --yellow-400: #F0D896;
  --yellow-500: #ECCC73;
  --yellow-600: #E8C050;
  --yellow-700: #D4A830;
  --yellow-800: #B8901A;
  --yellow-900: #9C7808;

  --green-100: #F0F9EE;
  --green-200: #E0F2DD;
  --green-300: #C5E5BC;
  --green-400: #AAD89B;
  --green-500: #8FCB7A;
  --green-600: #74BE59;
  --green-700: #5AA038;
  --green-800: #40821C;
  --green-900: #2A6408;

  --teal-100: #EAF8F4;
  --teal-200: #D4F0E8;
  --teal-300: #ACE1D3;
  --teal-400: #84D2BE;
  --teal-500: #5CC3A9;
  --teal-600: #34B494;
  --teal-700: #1E9378;
  --teal-800: #0F725C;
  --teal-900: #055140;

  --cyan-100: #ECF9FA;
  --cyan-200: #D8F2F3;
  --cyan-300: #B4E5EA;
  --cyan-400: #90D8E1;
  --cyan-500: #6CCBD8;
  --cyan-600: #48BECF;
  --cyan-700: #2A9BB8;
  --cyan-800: #13789E;
  --cyan-900: #055584;

  --blue-1: #fcfdff;
  --blue-2: #f7f9fe;
  --blue-3: #eef2fd;
  --blue-4: #e3e9fe;
  --blue-5: #d6dffe;
  --blue-6: #c5d1f8;
  --blue-7: #b0bef0;
  --blue-8: #93a5e7;
  --blue-9: #7187f2;
  --blue-10: #667be2;
  --blue-11: #5264c7;
  --blue-12: #252e5d;

  --purple-1: #9996FC;
  --pink-1: #DA8CCC;
  --red-1: #F08080;
  --orange-1: #FF9E65;
  --yellow-1: #E8C050;
  --green-1: #74BE59;
  --green-2: #34B494;
  --turquoise-1: #48BECF;

  --gray-1: #fcfcfd;
  --gray-2: #f9f9fc;
  --gray-2_5: #f4f5f8;
  --gray-3: #eff0f4;
  --gray-4: #e7e8ed;
  --gray-5: #e0e1e7;
  --gray-6: #d8d9e1;
  --gray-7: #cdced8;
  --gray-7_5: #c3c5d0;
  --gray-8: #b9bbc8;
  --gray-8_25: #aeb0bd;
  --gray-8_5: #a2a4b1;
  --gray-9: #8b8d9a;
  --gray-9_5: #858794;
  --gray-10: #80828e;
  --gray-10_5: #71727d;
  --gray-11: #62636d;
  --gray-11_5: #40414b;
  --gray-11_75: #2f3039;
  --gray-12: #1e1f25;

  /* Clip colors */
  --color-clip-1: #7EB1FF;
  --color-clip-2: #9996FC;
  --color-clip-3: #DA8CCC;
  --color-clip-4: #F08080;

  /* Semantic tokens - Light mode */
  --bg-primary: #F8F8FA;
  --bg-secondary: #EAEBF0;
  --bg-tertiary: var(--gray-11_75);
  --bg-track-header-button-idle: #DCDDE4;
  --bg-track-header-button-hover: #D2D5DE;
  --bg-track-header-button-active: #C6C9D4;
  --bg-add-new-track-button-idle: #D2D4DD;
  --bg-add-new-track-button-hover: #C7C8D4;
  --bg-add-new-track-button-active: #BBBECA;
  --bg-transport-button-idle: #DFE0E6;
  --bg-transport-button-hover: #D2D3DC;
  --bg-transport-button-active: #C6C8D2;
  --bg-meter: #CECFD8;
  --accent-1: var(--blue-9);
  --accent-2: var(--pink-1);
  --accent-3: var(--red-1);
  --accent-4: var(--orange-1);
  --accent-5: var(--yellow-1);
  --accent-6: var(--green-1);
  --accent-7: var(--green-2);
  --text-primary: var(--gray-12);
  --text-secondary: var(--gray-1);
  --text-tertiary: var(--gray-12);
  --stroke-primary: var(--gray-6);
  --stroke-secondary: var(--gray-7);
  --stroke-tertiary: var(--gray-9);
  --track-header-default: #F4F4F8;
  --track-header-hover: #F8F9FC;
  --track-header-active: #FBFBFD;
  --stroke-track-header-idle: #D7D8DD;
  --stroke-track-header-hover: #C5C5CA;
  --stroke-track-header-focused: #7CC4FF;
  --stroke-track-header-active: #BABCC8;
  --btn-on-primary-idle: var(--gray-5);
  --btn-on-primary-hover: var(--gray-6);
  --btn-on-primary-active: var(--gray-7);
  --btn-on-secondary-idle: var(--gray-6);
  --btn-on-secondary-hover: var(--gray-7);
  --btn-on-secondary-active: var(--gray-7_5);
  --bg-slider: var(--gray-6);
  --bg-slider-handle: var(--bg-primary);
  --stroke-slider-handle: var(--stroke-tertiary);
  --bg-slider-fill-idle: var(--gray-8);
  --timecode-bg-idle: var(--gray-12);
  --timecode-digit-color: var(--gray-1);
  --timecode-type-color: var(--gray-7);
  --clip-color-1: var(--color-clip-1);
  --clip-color-2: var(--color-clip-2);
  --clip-color-3: var(--color-clip-3);
  --clip-color-4: var(--color-clip-4);
}

/* Dark mode colors */
[data-theme="dark"] {
  --dark-blue-1: #0b111b;
  --dark-blue-2: #111824;
  --dark-blue-3: #142744;
  --dark-blue-4: #14315d;
  --dark-blue-5: #1c3d6e;
  --dark-blue-6: #274b7f;
  --dark-blue-7: #335a95;
  --dark-blue-8: #3d6cb2;
  --dark-blue-9: #66a3ff;
  --dark-blue-10: #5b97f2;
  --dark-blue-11: #87b6fd;
  --dark-blue-12: #d0e2fd;

  --dark-purple-1: #9996FC;
  --dark-pink-1: #DA8CCC;
  --dark-red-1: #F08080;
  --dark-orange-1: #FF9E65;
  --dark-yellow-1: #E8C050;
  --dark-green-1: #74BE59;
  --dark-green-2: #34B494;
  --dark-turquoise-1: #48BECF;

  --dark-gray-1: #111113;
  --dark-gray-2: #19191b;
  --dark-gray-3: #222325;
  --dark-gray-4: #292a2e;
  --dark-gray-5: #303136;
  --dark-gray-6: #393a40;
  --dark-gray-7: #46484f;
  --dark-gray-8: #5f606a;
  --dark-gray-9: #6c6e79;
  --dark-gray-10: #797b86;
  --dark-gray-11: #b2b3bd;
  --dark-gray-12: #eeeef0;

  --bg-primary: var(--dark-gray-3);
  --bg-secondary: var(--dark-gray-2);
  --bg-tertiary: var(--dark-gray-1);
  --accent: var(--dark-blue-9);
  --text-primary: var(--dark-gray-12);
  --text-secondary: var(--dark-gray-1);
  --text-tertiary: var(--dark-gray-1);
  --stroke-primary: var(--dark-gray-4);
  --stroke-secondary: var(--dark-gray-3);
  --stroke-tertiary: var(--dark-gray-9);
  --track-header-default: var(--dark-gray-3);
  --track-header-active: var(--dark-gray-5);
  --track-header-hover: var(--dark-gray-6);
  --btn-on-primary-idle: var(--dark-gray-7);
  --btn-on-primary-hover: var(--dark-gray-8);
  --btn-on-primary-active: var(--dark-gray-9);
  --btn-on-secondary-idle: var(--dark-gray-7);
  --btn-on-secondary-hover: var(--dark-gray-8);
  --btn-on-secondary-active: var(--dark-gray-9);
  --bg-slider: var(--dark-gray-1);
  --bg-slider-handle: var(--bg-primary);
  --stroke-slider-handle: var(--stroke-tertiary);
  --bg-slider-fill-idle: var(--dark-gray-9);
  --timecode-bg-idle: var(--dark-gray-1);
  --timecode-digit-color: var(--dark-gray-12);
  --timecode-type-color: var(--dark-gray-10);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
}

html {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "MusescoreIcon";
  src: url("/fonts/MusescoreIcon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.icon {
  font-family: "MusescoreIcon", sans-serif;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-transform: none;
}

.main-grid {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: calc(100vh - 128px);
}

.main-grid.with-effects-panel {
  grid-template-columns: 240px 280px 1fr;
}