:root {

  /* New colors */
  --shade-100: #fff;
  --shade-900: #000;

  --slate-50: #FBFBFD;
  --slate-100: #F9FAFC;
  --slate-200: #F6F7F9;
  --slate-300: #E8E9EE;
  --slate-400: #DDDFE6;
  --slate-500: #CBCED7;
  --slate-600: #B6B9C7;
  --slate-700: #A4A8B9;
  --slate-800: #9499AB;
  --slate-900: #7E849A;

  --midnight-100: #171A24;
  --midnight-200: #252833;
  --midnight-300: #343741;
  --midnight-400: #41444F;
  --midnight-500: #4D515C;
  --midnight-600: #5A5E69;
  --midnight-700: #676B77;
  --midnight-800: #747884;
  --midnight-900: #828591;

  --blue-100: #F2F7FF;
  --blue-200: #DEEBFF;
  --blue-300: #C0D9FF;
  --blue-400: #A2C7FF;
  --blue-500: #84B5FF;
  --blue-600: #66A3FF;
  --blue-700: #4A7FE6;
  --blue-800: #305BCC;
  --blue-900: #1A3FB3;

  --violet-100: #F7F6FF;
  --violet-200: #E9E8FF;
  --violet-300: #D5D3FE;
  --violet-400: #C1BFFE;
  --violet-500: #ADABFC;
  --violet-600: #9996FC;
  --violet-700: #7E7BE6;
  --violet-800: #6360D0;
  --violet-900: #4845BA;

  --magenta-100: #FBF4FC;
  --magenta-200: #F6E8F4;
  --magenta-300: #EFD1EA;
  --magenta-400: #E8BAE0;
  --magenta-500: #E1A3D6;
  --magenta-600: #DA8CCC;
  --magenta-700: #C866B3;
  --magenta-800: #B0449A;
  --magenta-900: #982681;

  --red-100: #FEF2F2;
  --red-200: #FCE4E4;
  --red-300: #F9CBCB;
  --red-400: #F6B2B2;
  --red-500: #F39999;
  --red-600: #F08080;
  --red-700: #E85B5B;
  --red-800: #D63636;
  --red-900: #B91818;

  --orange-100: #FFF5EE;
  --orange-200: #FFEADD;
  --orange-300: #FFD7BF;
  --orange-400: #FFC4A1;
  --orange-500: #FFB183;
  --orange-600: #FF9E65;
  --orange-700: #E67A3D;
  --orange-800: #CC5619;
  --orange-900: #B33600;

  --yellow-100: #FCF8EE;
  --yellow-200: #F8F0DC;
  --yellow-300: #F4E4B9;
  --yellow-400: #F0D896;
  --yellow-500: #ECCC73;
  --yellow-600: #E8C050;
  --yellow-700: #D4A830;
  --yellow-800: #B8901A;
  --yellow-900: #9C7808;

  --green-100: #F0F9EE;
  --green-200: #E0F2DD;
  --green-300: #C5E5BC;
  --green-400: #AAD89B;
  --green-500: #8FCB7A;
  --green-600: #74BE59;
  --green-700: #5AA038;
  --green-800: #40821C;
  --green-900: #2A6408;

  --teal-100: #EAF8F4;
  --teal-200: #D4F0E8;
  --teal-300: #ACE1D3;
  --teal-400: #84D2BE;
  --teal-500: #5CC3A9;
  --teal-600: #34B494;
  --teal-700: #1E9378;
  --teal-800: #0F725C;
  --teal-900: #055140;

  --cyan-100: #ECF9FA;
  --cyan-200: #D8F2F3;
  --cyan-300: #B4E5EA;
  --cyan-400: #90D8E1;
  --cyan-500: #6CCBD8;
  --cyan-600: #48BECF;
  --cyan-700: #2A9BB8;
  --cyan-800: #13789E;
  --cyan-900: #055584;

  /* NEW light mode tokens */

  --text-primary: var(--midnight-100);

  --icon-primary: var(--text-primary);
  --icon-record: var(--red-700);
  --icon-play: var(--green-700);

  --accent-blue-idle: var(--blue-500);
  --accent-blue-hover: var(--blue-600);
  --accent-blue-pressed: var(--blue-700);

  --bg-surface-primary: var(--slate-50);
  --bg-surface-primary-hover: var(--slate-300);
  --bg-surface-secondary: var(--slate-300);
  --bg-surface-canvas: var(--midnight-300);

  --bg-track-header-idle: var(--slate-200);
  --bg-track-header-hover: var(--slate-100);
  --bg-track-header-active: var(--shade-100);

  --bg-timecode-idle: var(--midnight-300);
  --bg-timecode-hover: var(--midnight-600);

  --bg-slider: var(--slate-400);
  --bg-handle: var(--slate-100);
  --bg-control-value-idle: var(--slate-700);
  --bg-control-value-active: var(--accent-blue-idle);
  --bg-knob: var(--slate-50);
  --bg-guage: var(--slate-400);
  --bg-checkbox: var(--slate-300);
  --bg-radio: var(--slate-200);
  --bg-meter: var(--slate-400);


  --btn-primary-idle: var(--accent-blue-idle);
  --btn-primary-hover: var(--accent-blue-hover);
  --btn-primary-pressed: var(--accent-blue-pressed);

  --btn-solid-on-primary-idle: var(--slate-400);
  --btn-solid-on-primary-hover: var(--slate-500);
  --btn-solid-on-primary-pressed: var(--slate-600);

  --btn-solid-on-secondary-idle: var(--slate-500);
  --btn-solid-on-secondary-hover: var(--slate-600);
  --btn-solid-on-secondary-pressed: var(--slate-700);

  --btn-solid-track-header-idle: var(--slate-400);
  --btn-solid-track-header-hover: var(--slate-500);
  --btn-solid-track-header-pressed: var(--slate-600);


  --stroke-on-primary: var(--slate-300);
  --stroke-on-secondary: var(--slate-500);
  --stroke-handle: var(--slate-900);
  --stroke-knob: var(--slate-900);
  --stroke-knob-indicator: var(--midnight-100);
  --stroke-clip-inner: var(--shade-100);
  --stroke-clip-outer: var(--shade-900);
  --stroke-radio: var(--slate-900);
  --stroke-focused-state: var(--blue-500);
  --stroke-track-header: var(--bg-surface-secondary);


  --clip-bg-body-blue-default: var(--blue-400);
  --clip-bg-body-blue-selected: var(--blue-300);
  --clip-bg-header-blue-default-idle: var(--blue-500);
  --clip-bg-header-blue-default-hover: var(--blue-600);
  --clip-bg-header-blue-selected-idle: var(--blue-200);
  --clip-bg-header-blue-selected-hover: var(--blue-100);

  --clip-bg-body-violet-default: var(--violet-400);
  --clip-bg-body-violet-selected: var(--violet-300);
  --clip-bg-header-violet-default-idle: var(--violet-500);
  --clip-bg-header-violet-default-hover: var(--violet-600);
  --clip-bg-header-violet-selected-idle: var(--violet-200);
  --clip-bg-header-violet-selected-hover: var(--violet-100);

  --clip-bg-body-magenta-default: var(--magenta-400);
  --clip-bg-body-magenta-selected: var(--magenta-300);
  --clip-bg-header-magenta-default-idle: var(--magenta-500);
  --clip-bg-header-magenta-default-hover: var(--magenta-600);
  --clip-bg-header-magenta-selected-idle: var(--magenta-200);
  --clip-bg-header-magenta-selected-hover: var(--magenta-100);

  --clip-bg-body-red-default: var(--red-400);
  --clip-bg-body-red-selected: var(--red-300);
  --clip-bg-header-red-default-idle: var(--red-500);
  --clip-bg-header-red-default-hover: var(--red-600);
  --clip-bg-header-red-selected-idle: var(--red-200);
  --clip-bg-header-red-selected-hover: var(--red-100);

}

/* NEW dark mode tokens */

[data-theme="dark"] {

  --text-primary: var(--slate-100);

  --icon-primary: var(--text-primary);
  --icon-record: var(--red-600);
  --icon-play: var(--green-600);

  --accent-blue-idle: var(--blue-800);
  --accent-blue-hover: var(--blue-700);
  --accent-blue-pressed: var(--blue-600);

  --bg-surface-primary: var(--midnight-300);
  --bg-surface-primary-hover: var(--midnight-300);
  --bg-surface-secondary: var(--midnight-200);
  --bg-surface-canvas: var(--midnight-100);

  --bg-track-header-idle: var(--midnight-300);
  --bg-track-header-hover: var(--midnight-400);
  --bg-track-header-active: var(--midnight-400);

  --bg-timecode-idle: var(--midnight-100);
  --bg-timecode-hover: var(--midnight-200);

  --bg-slider: var(--midnight-200);
  --bg-handle: var(--midnight-300);
  --bg-control-value-idle: var(--midnight-600);
  --bg-control-value-active: var(--accent-blue-idle);
  --bg-knob: var(--midnight-300);
  --bg-guage: var(--midnight-200);
  --bg-checkbox: var(--midnight-400);
  --bg-meter: var(--midnight-200);

  --btn-primary-idle: var(--accent-blue-idle);
  --btn-primary-hover: var(--accent-blue-hover);
  --btn-primary-pressed: var(--accent-blue-pressed);

  --btn-solid-on-primary-idle: var(--midnight-500);
  --btn-solid-on-primary-hover: var(--midnight-600);
  --btn-solid-on-primary-pressed: var(--midnight-700);

  --btn-solid-on-secondary-idle: var(--midnight-500);
  --btn-solid-on-secondary-hover: var(--midnight-600);
  --btn-solid-on-secondary-pressed: var(--midnight-700);

  --btn-solid-track-header-idle: var(--midnight-600);
  --btn-solid-track-header-hover: var(--midnight-700);
  --btn-solid-track-header-pressed: var(--midnight-800);


  --stroke-on-primary: var(--midnight-400);
  --stroke-on-secondary: var(--midnight-500);
  --stroke-handle: var(--midnight-900);
  --stroke-knob: var(--slate-900);
  --stroke-knob-indicator: var(--slate-100);
  --stroke-clip-inner: var(--shade-100);
  --stroke-clip-outer: var(--shade-900);
  --stroke-focused-state: var(--blue-500);
  --stroke-track-header: var(--bg-surface-secondary);


}



html {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "MusescoreIcon";
  src: url("/fonts/MusescoreIcon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  background-color: var(--bg-surface-canvas);
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  font-family: "MusescoreIcon", sans-serif;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-transform: none;
}

.main-grid {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: calc(100vh - 128px);
}

.main-grid.with-effects-panel {
  grid-template-columns: 240px 280px 1fr;
}