.button{
    background-color: var(--btn-solid-track-header-idle);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border:none;
    user-select: none;
    color: var(--text-primary);


    &:hover {
        background-color: var(--btn-solid-track-header-hover);
    }

    &:active {
        background-color: var(--btn-solid-track-header-pressed);
    }

}