.container {
    display: flex;
    align-items: center ;
    height: 32px;
    padding-left: 24px;
    color: var(--text-primary);

    &:hover {
        background-color: rgba(255,255,255, 0.05);
    }
    
    &.selected {
        background-color: var(--accent-1);
    }
}