.container {
    display: flex;
    background-color: var(--timecode-bg-idle);
    height: 28px;
    padding: 0px 4px;
    border-radius: 3px;

}

.digit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    padding: 2px;
    height: 100%;
    color: var(--timecode-digit-color);

    &:hover{
        background-color: var(--timecode-bg-hover);
    }
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    padding: 2px;
    height: 100%;
    color: var(--timecode-type-color)
}