.container {
    display: flex;
    background-color: var(--bg-timecode-idle);
    height: 28px;
    border-radius: 3px;
    color: white;
}

.digit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    padding: 2px;
    height: 100%;
    color: var(--timecode-digit-color);

    &:hover{
        background-color: var(--bg-timecode-hover);
    }
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    padding: 2px;
    height: 100%;
    color: var(--timecode-type-color)
}

.digitGroup {
    display: flex;
    padding: 0px 4px;
}

.dropdownButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--bg-primary)
}