.button{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 32px;
    width: 32px;
    border-radius: 3px;
    background-color: var(--bg-transport-button-idle);
    cursor: pointer;
    border: none;
    color: var(--text-primary);

    &:hover {
        background-color: var(--bg-transport-button-hover);
    }

    &:active {
        background-color: var(--bg-transport-button-active);
    }
}