.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--text-tertiery);

    &:hover {
        background-color: rgba(0,0,0,0.1);
    }

    &:active {
        background-color: rgba(0,0,0,0.2);
    }
}