.clip {
    position: relative;
    height: 112px;
    width: 226px;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: -1px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* Ensures borders are included in the width/height */

    &.selected {
        outline: 1px solid white;
        outline-offset: -2px;
    }

    &:focus {
        outline: 1px solid black;
        outline-offset: 0px;
        z-index: 999;
        box-shadow: 0 0 0 2px white;
        /* Use box-shadow for focus */
    }
}



.clip_header {
    color: var(--text-tertiary);
    display: flex;
    height: 20px;
    padding: 0px 4px 1px 4px;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    &.selected {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.clip_body {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 8px;
    flex: 1;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);

    &.selected {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

/* Custom class for each track's clip */
.clip_track1 {
    background-color: var(--clip-color-1);
    /* Example color for track 1 */
}

.clip_track2 {
    background-color: var(--clip-color-2);
    /* Example color for track 2 */
}

.clip_track3 {
    background-color: var(--clip-color-3);
    /* Example color for track 3 */
}

.clip_handles_container {
    position: absolute;
    top: 20px;
    left: -24;
    width: 272px;
    height: 48px;
    z-index: 999;
}