.container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.handle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: black;
}

.clock_bg {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}

.arrow_bg {
    position: absolute;
    z-index: -1;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2;
}