.clip {
    position: relative;
    height: 112px;
    width: 226px;
    border: 1px solid var(--stroke-clip-outer);
    border-radius: 4px;
    margin-left: -1px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* Ensures borders are included in the width/height */

    &.selected {
        outline: 1px solid var(--stroke-clip-inner);
        outline-offset: -2px;
    }

    &:focus {
        outline: 1px solid black;
        outline-offset: 0px;
        z-index: 999;
        box-shadow: 0 0 0 2px white;
        /* Use box-shadow for focus */
    }
}



.clip_header {
    color: var(--text-tertiary);
    display: flex;
    height: 20px;
    padding: 0px 4px 1px 4px;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
    cursor: pointer;
}

.clip_body {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 8px;
    flex: 1;
    overflow: hidden;
}

/* Custom class for each track's clip */
.clip_track_1 {
    background-color: var(--clip-bg-body-blue-default);
    /* Example color for track 1 */

    &.selected {
        background-color: var(--clip-bg-body-blue-selected);
    }
}

.clip_header_1 {
    background-color: var(--clip-bg-header-blue-default-idle);

    &:hover {
        background-color: var(--clip-bg-header-blue-default-hover);
    }

    &.selected {
        background-color: var(--clip-bg-header-blue-selected-idle);

        &:hover {
            background-color: var(--clip-bg-header-blue-selected-hover);
        }
    }
}

.clip_track_2 {
    background-color: var(--clip-bg-body-violet-default);
    /* Example color for track 1 */

    &.selected {
        background-color: var(--clip-bg-body-violet-selected);
    }
}

.clip_header_2 {
    background-color: var(--clip-bg-header-violet-default-idle);

    &:hover {
        background-color: var(--clip-bg-header-violet-default-hover);
    }

    &.selected {
        background-color: var(--clip-bg-header-violet-selected-idle);

        &:hover {
            background-color: var(--clip-bg-header-violet-selected-hover);
        }
    }
}

.clip_track_3 {
    background-color: var(--clip-bg-body-magenta-default);
    /* Example color for track 1 */

    &.selected {
        background-color: var(--clip-bg-body-magenta-selected);
    }
}

.clip_header_3 {
    background-color: var(--clip-bg-header-magenta-default-idle);

    &:hover {
        background-color: var(--clip-bg-header-magenta-default-hover);
    }

    &.selected {
        background-color: var(--clip-bg-header-magenta-selected-idle);

        &:hover {
            background-color: var(--clip-bg-header-magenta-selected-hover);
        }
    }
}

.clip_track_4 {
    background-color: var(--clip-bg-body-red-default);
    /* Example color for track 1 */

    &.selected {
        background-color: var(--clip-bg-body-red-selected);
    }
}

.clip_header_4 {
    background-color: var(--clip-bg-header-red-default-idle);

    &:hover {
        background-color: var(--clip-bg-header-red-default-hover);
    }

    &.selected {
        background-color: var(--clip-bg-header-red-selected-idle);

        &:hover {
            background-color: var(--clip-bg-header-red-selected-hover);
        }
    }
}



.clip_handles_container {
    position: absolute;
    top: 20px;
    left: -24;
    width: 272px;
    height: 48px;
    z-index: 888;
}