.measure {
    display: flex;
    height: 100%;
    border-left: 1px solid var(--stroke-grid-measure);
    width: calc(56px * 4);
    justify-content: space-between;
}

.quarterNote {
    width: 56px;
    height: 100%;
    display: flex;
}

.eigthNote {
    height: 100%;
    width: 100%;
}

/* Add a border to the first 3 beats */
.quarterNote:nth-child(n+2) {
    border-left: solid 1px var(--stroke-grid-beat);
}

/* Add a border to the first 3 beats */
.eigthNote:nth-child(n+2) {
    border-left: solid 1px var(--stroke-grid-beat);
}

.quarterNote:nth-child(2n + 1) {
   background-color: var(--bg-surface-grid-emphasis);
}