.cursor {
    position: absolute;
    top:0; 
    bottom: 0;
    left: 12px;
    background-color: black;
    width: 1px;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    z-index: 999;
    
}